@use "./base.scss";

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

.grid-item {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--lightgray);
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.grid-item:hover {
    transform: scale(1.02);
}

.grid-item .icon {
    font-size: 2rem;
}

.grid-item .title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.grid-item .description {
    font-size: 0.9rem;
    color: var(--gray);
    margin-top: 0.3rem;
}

